body {
    margin: auto;
    height: 100%;
    background-color: #ffff;
}

*{
  padding: 0px;
  margin: 0px;
}
.menu { 
    display: flex; 
    list-style: none;
 } 

.menues{ 
    color: #282727; 
    text-decoration: none; 
    font-family: 'Helvetica Neue';
    font-size: 21px;
    margin: auto;
}

/**index**/
.logo{
  width: 10%;
  height: auto;
  margin-left: 34%;
}

.cajaContenedora{
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

.carru{
  height: 100%;
  width: 100%;
}

/**nav**/
.menu { 
    display: flex; 
    list-style: none;
 } 

.menues{ 
    color: #282727; 
    text-decoration: none; 
    font-family: 'Helvetica Neue';
    font-size: 21px;
    margin: auto;
}
  
nav ul {
  color: transparent;
  list-style-type: none;
  text-align: center;
  margin-left: 59%;
}
 nav li{
   display: inline-flex;
 }

nav a{
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: #282727;
  padding: 15px;
  width: -50px;
  font-size: 30px;
}

.lista-nav {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
.abrir-menu,
.cerrar-menu {
  display: none;
}
  .busqueda{
    height: 109px;
    width: 99px;
    margin-left: 51px;
    position: relative;
    top: 1px;
  }

  .hamburguesa{
    height: 62px;
    width: 49px;
    margin-left: -25px;
    position: relative;
    top: 2px;
  }
  .div{
    height: 5%;
  }

  .carru{
    height: 100%;
    width: 100%;
  }

  /*Estilos de imágenes*/
  .container {
    display: block;
    margin: auto;
    text-align: center;
  }
  
  .foto {
    width: 350px;
    height: 500px;
    margin: 50px;
  }

  /*Estilo de texto*/
  .texto{
    margin: top 20px;
  }

/**footer**/
  .footer-clean {
    padding:50px 0;
    background-color:#fff;
    color:#4b4c4d;
  }
  
  .footer-clean h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-clean ul a:hover {
    opacity:1;
  }
  
  .footer-clean .item.social {
    text-align:right;
  }
  
  @media (max-width:767px) {
    .footer-clean .item {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  @media (max-width: 768px) {
    .footer-clean .item.social {
      text-align:center;
    }
  }
  
  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
  @media (max-width:991px) {
    .footer-clean .item.social > a {
      margin-top:40px;
    }
  }
  
  @media (max-width:767px) {
    .footer-clean .item.social > a {
      margin-top:10px;
    }
  }
  
  .footer-clean .copyright {
    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    opacity:0.6;
  }
  /**bridal**/
  .imgprin{


  .lista-nav {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.abrir-menu,
.cerrar-menu {
    display: none;
}
@media screen and (max-width: 1450px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu {
        color: #1c1c1c;
    }
    .cerrar-menu {
        color: #ececec;
    }
.nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .lista-nav {
        flex-direction: column;
        align-items: end;
    }
    .lista-nav li a {
        color: #ececec;
    }
}


@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);

body {
	/*The below background is just to add some color, you can set this to anything*/
  background: url(http://www.magic4walls.com/wp-content/uploads/2014/01/texture-blue-fonchik-simple-dark-colors-glow-background.jpg) no-repeat;
}

.login-form{width:390px;}
.login-title{font-family: 'Helvetica Neue';text-align:center;color: white;}
.login-userinput{margin-bottom: 10px;}
.login-button{margin-top:10px;}
.login-options{margin-bottom:0px;}
.login-forgot{float: right;}

/**cartaprovi**/

@mixin diagBg($color) {
  background: linear-gradient(-45deg, $color 50%, rgba(255, 255, 255, 0.5) 50%);
}

* {
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

.html.body {
  background: $bg-color;
}

.header {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  ul {
    padding: 1.2em 0 0.5em;
  }
  .span {
    padding: 0 0 0 0.5em;
  }
  .span, i {
    color: #2B2D42;
  }
  .i:nth-of-type(2) {
    cursor: pointer;
  }
}
.row {
  width: 100%;
  justify-content: flex-start;
  display: flex;
  flex-flow: row wrap;
}
.product {
  box-shadow: 1px 5px 15px #CCC;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
  &--blue {
    @extend .product;
    @include diagBg($blue-card);
  }
  &--orange {
    @extend .product;
    @include diagBg($orange-card);
  }
  &--red {
    @extend .product;
    @include diagBg($red-card);
  }
  &--green {
    @extend .product;
    @include diagBg($green-card);
  }
  &--yellow {
    @extend .product;
    @include diagBg($yellow-card);
  }
  &--pink {
    @extend .product;
    @include diagBg($pink-card);
  }
  .img {
    max-width: 100%;
    height: auto !important;
    text-align: center;
  }
  &_inner {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    p {
      color: rgba(255, 255, 255, 0.9);
    }
    .button {
      border: 1px solid rgba(255, 255, 255, 0.5);
      color: #FFF;
      border-radius: 3px;
      padding: 1em 3em;
      margin: 1em 0 0 0;
      background: none;
      cursor: pointer;
      transition background:  ease-in .25s;
      &:hover {
      background: rgba(255, 255, 255, 1);
        color: #2B2D42;
      }
      &:before {
        font-family: FontAwesome;
        content: '\f07A';
        color: #FFF;
        position: absolute;
        font-size: 1.5em;
        margin: 0 -1.5em;
      }
      &:hover:before {
        color: #2B2D42;
      }
    }
  }
  &_overlay {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
  }

    /**hombres btp**/
  .btn-primary {
    color: #fff !important ;
    background-color: BLACK !important ;
    border-color: BLACK !important ;
}
